<!-- Wee HTML
   Big Red Hacks Project 2015
   Home Page
 
   Ten-Young Guh
   Rachael Wang
-->

<!DOCTYPE html>
<html>

	<head>
		<title>Wee</title>
	</head>

	<body>
		<link href="Wee.css" rel="stylesheet" type="text/css">

		<div class="one" style="height:100vh;background-image:url(HeadPicture1.png);"></div>
		<div class="five" style="height:100vh;background-image:url(about.png);"></div>
		<div class="two" style="height:100vh;background-image:url(HeadPicture2.png);"></div>
		<div class="four" style="height:100vh;background-image:url(random.png);"></div>
		<image class="rand" src="footer.png">

		<div class="HeaderLogo">
			<img src="HeaderLogo.png">
		</div>

		<p style="position: absolute; bottom:0; width:100%; text-align: center"> OR JOIN THE FUN AND SIGN UP!
		</p>

		<div class="menu-outer">
    		<div class="menu-icon">
        		<div class="bar"></div>
        		<div class="bar"></div>
        		<div class="bar"></div>
    		</div>
    		<nav>
        		<ul>
           			<li><a href="#"><a href="file:///Users/rachaelpwang/Desktop/Wee/WeeSearchPage.html" target=_self>plan a trip</a></a></li>
           			<li><a href="#">about</a></li>
            		<li><a href="#">contact</a></li>
      			</ul>
   			</nav>
		</div>

		<a class="menu-close" onClick="return true">
    		<div class="menu-icon">
        		<div class="bar"></div>
        		<div class="bar"></div>
    		</div>
		</a>
	</body>

	<div class="wrapper">
		<a href="#" class="myButton">LOGIN!</a>
	</div>

	<!-- Star Ratings using Radio Buttons -->
	<form id="ratingsForm">
		<div class="stars">
			<input type="radio" name="star" class="star-1" id="star-1">
			<label class="star-1" for="star-1">1</label>

			<input type="radio" name="star" class="star-2" id="star-2">
			<label class="star-2" for="star-2">2</label>

			<input type="radio" name="star" class="star-3" id="star-3">
			<label class="star-3" for="star-3">3</label>

			<input type="radio" name="star" class="star-4" id="star-4">
			<label class="star-4" for="star-4">4</label>

			<input type="radio" name="star" class="star-5" id="star-5">
			<label class="star-5" for="star-5">5</label>	
		</div>
	</form>		

	<!--
		<div style="position: relative; left=0; top=0;">
			<img src="HeadPicture1.png" style="position: relative;"/>
			<img src="HeadPicture2.png" style="position: absolute; top:770px;"/>
		</div>
	-->

<html>