<!-- Wee HTML
   Big Red Hacks Project 2015
   Search Page
 
   Ten-Young Guh
   Rachael Wang
-->

<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title> Plan a Trip</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="Wee.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="blurBg-false" style="background-color:transparent; z-index:999">

			<link rel="stylesheet" href="sampleform_files/formoid1/formoid-biz-blue.css" type="text/css" />

			<script type="text/javascript" src="sampleform_files/formoid1/jquery.min.js"></script>

			<form class="formoid-biz-blue" style="background-color:transparent;font-size:14px;font-family:'Bazar';color:#ECECEC;max-width:500px;min-width:500px" method="post"><div class="title"><h2></h2></div>

				<div class="aboveInput">WHERE ARE YOU GOING?</div>
				<label>
					<div class="element-input"><label class="title"><span class="required"></span></label><input class="large" type="text" name="input" required="required" placeholder=" CITY NAME" style="100px;"/></div>
				</label>

				<div class="aboveInput">CHECK IN</div>
				<label>
					<div class="element-date"><label class="title"></label><input class="medium" data-format="yyyy-mm-dd" type="date" name="date" placeholder=" CHECK IN"/></div>
				</label>

				<div class="aboveInput">CHECK OUT</div>
				<label>
					<div class="element-date"><label class="title"></label><input class="medium" data-format="yyyy-mm-dd" type="date" name="date1" placeholder=" CHECK OUT"/></div>
				</label>
				<label>
					<div><a href="#" class="myButton2">search</a><input type="submit" style="display: none"/></div>
				</label>

			</form>

		</div>

		<div class="three" style="height:100vh;background-image:url(HeadPicture3.png);"></div>

		<div class="WheelLogo">
			<img src="PlanATrip.png">
		</div>

		<div class="SearchSave">
			<img src="Search&SaveSent.png">
		</div>

	</body>
	

</html>